#body {
    font-family: verdana;
}



#block {
    width: 1000px;
    border: groove;
    border-color: #aa0000;
    border-width: 1px;

}

#left_block{
    float: left;
    width: 500px;
    height: 200px;


}

#right_block{
    float: right;
    width:500px;
    height:200px;
}

#button_block{
    float: right;
    width: 500px;
    height: 50px;
    margin-bottom: 12px;
}




#post {
    float: right;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    left: 100px;
    height: 160%;
    display: block;
}

#lab_name{
    color: #e01e0a;
    font-size: 17px;
    font-family: Tahoma;
    text-align: center;
}


#lab{
    color: #2b009e;
    font-size: 15px;
    font-family: "Arial Black";
    font-style: oblique;
    background: yellow;
}

#textar{
    font-family:"Times New Roman";
    font-size: 18px;
    color: #b80014;
    font-style: oblique;

}




#error{
    color: #ff853b;
    font-size: 15px;
    font-family: "Arial Black";
    font-style: oblique;
    background: #d0d0d0;
}

.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}
.c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}