#body {
    font-family: verdana;
}

#header {

    background-color: #0023ff;
    overflow: hidden;


}



#kol_compare {
    width: 1700px;

}

#left_kol_compare{
    float: left;
    width: 800px;
    overflow-y: scroll;
    height: 1500px;

}

#right_kol_compare{
    float: right;
    width: 800px;
    overflow-y: scroll;
    height: 1500px;
}

#post {
    float: right;
    position: absolute;

    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    left: 100px;
    height: 160%;
    display: block;
}

#lab_name{
    color: #e01e0a;
    font-size: 17px;
    font-family: Tahoma;
    text-align: center;
}


#lab{
    color: #2b009e;
    font-size: 15px;
    font-family: "Arial Black";
    font-style: oblique;
    background: yellow;
}

#textar{
    font-family:"Times New Roman";
    font-size: 12px;
    color: #2b2b2b;
    width: 1200px;
}

#logpass
{
    border: 4px double black;
    width: 1200px;
}


#lab2{
    color: #ff853b;
    font-size: 15px;
    font-family: "Arial Black";
    font-style: oblique;
    background: #d0d0d0;
}

.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}
.c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}