#body {
    font-family: verdana;
}

#header {

    background-color: #0023ff;
    overflow: hidden;


}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 180px;
    position: absolute;
    float: left;
    display: block;

}

#kol {
    width: 500px;
    height: 300px;
    border: inset;
    border-top:1px solid rgba(255, 255, 255, 0);
    border-bottom:1px solid rgba(255, 255, 255, 0);
    border-left:1px solid #666;
    border-right:1px solid #999;
}
#left_kol{
    float: left;
    width: 200px;

}

#right_kol{
    float: right;
    width: 200px;

}

#navbar li {
    border-left: 10px solid #666;
    border-bottom: 1px solid #666;
}
#navbar a {
    background-color: #949494;
    color: #2b009e;
    padding: 5px;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    border-left: 5px solid #e01e0a;
    display: block;
}
#navbar a:hover {
    background-color: azure;
    border-left: 5px solid #1e0312;
    color: #1e0312;
}

#h1, #h2 {
    text-align: center;
    color: #000;
}

#article {
    float: right;
    width: 20px;
    background-color: #fefdff;
    margin-bottom: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 2px;
    background: #e01e0a;
    color: #fff;
    width: 180px;
    display: block;
    margin: 20px;
    font-size: 12px;
}

#post {
    float: right;
    position: absolute;
    max-width:1000px ;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    left: 310px;
    height: 160%;
    display: block;
}

#lab_name{
    color: #e01e0a;
}

#but_ok{
    color: #fbfff9;
    background-color: #e01e0a;
    width: 150px;
    text-align: center;
    margin-top:10px;
    margin-left: 20px;
    }

#but_ok:hover{
    color: #e01e0a;
    background-color: inherit;
}

#lab{
    color: #2b009e;
    font-size: 15px;
    font-family: "Arial Black";
    font-style: oblique;
}

#lab_big{
    font-family: Tahoma;
    font-size: 19px;
    font-style: inherit;
    text-align: center;
    color: #e01e0a;
}

#analiz{
    background-color: #e01e0a;
    width: 300px;
    height: 100px;
    border-style: double;
    border-color: rgba(0, 0, 255, 0.36);
    border-width: 5px 10px 15px 3px;
    padding: 10px;
    margin: 10px;
    color: #999999;
    font-size: 24px;
    font-family: cursive;
    text-align: center;
    vertical-align: middle;

}

#analiz p {
    font-size: 19px;

}

#analiz_left{
    float: left;
    width: 320px;
    margin: 10px;
}
#analiz_right{
    float: right;
    width: 320px;
    margin: 10px;
}

#analiz_a {
    display: inline-block;
}


#preloader_malc {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 99
}

#preloader_malc div {
    background-color: #fff;
    width: 260px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    font-family: arial;
    font-size: 15px;
    color: #111;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

#vertsidebar{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-top:12px;
}
#vertsidebar a {
    text-decoration: none;
    background:#30A8E6;
    color:#fff;
    padding:8px;
    font-family: arial;
    border-radius:4px;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
#vertsidebar a:hover {
    background:#1C85BB;
}
#vertsidebar li {
    float:left;
    margin-right:5px;
}

#button_href {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    font-style: italic;
    font-family: Verdana;
    text-decoration: none;
    color: #000;
    width: 90%;
}
#button_href:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;
}


